.navbar-inner {
    background:transparent;
}
body {
    /*background: #99cccc;*/
    background: #3498DB;
    overflow-x:hidden;
    width:100%;
    max-width:100%;
    min-width:100%;
}
#banner {
    background: url("/assets/img/urban.png") no-repeat center;
    height: 290px;
}
.top-menu li a{
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

/* box */

.job-box {
    background : #fff;
    padding: 15px;
    margin-bottom: 50px;
    /*height: 450px;*/
}

.job-footer {
    padding-top: 10px;
    /*height: 70px;*/
}

.media-heading {
    margin-left: 15;
}

.navbar-nav li a:hover {
    background: none;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px;
}
