<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-10">
		<h2><%= @section %></h2>
		<ol class="breadcrumb">
			<li><a href="/admin">Admin</a></li>
			<li><a href="/admin/jobs" class="active">Jobs</a></li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">Jobs</div>
				<div class="ibox-content">
					<table class="table table-stripped">
						<thead>
							<th>Job Name</th>
							<th>Issuer</th>
							<th>Start</th>
							<th>Valid Until</th>
							<th>More</th>
						</thead>
                        <tbody>
                            <% @jobs.each do |jb| %>
                                <tr>
                                  <td><%= jb.job_name %></td>
                                  <td></td>
                                  <td><%= jb.job_start %></td>
                                  <td><%= jb.job_valid %></td>
                                </tr>
                            <% end %>
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>