
<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>carikerjaan</title>

  <!--<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>-->

  <link rel="stylesheet" href="/ftheme/reset.css" type="text/css">
  <link rel="stylesheet" href="/ftheme/styl.css" type="text/css">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

<!-- *********  Header  ********** -->

<div id="header" class="">
  <div id="header_in">

    <h1><a href="index.html"><b>carikerjaan</b>.id</a></h1>

    <div id="menu">
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/job">Search</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </div>

  </div>
</div>

<!-- *********  Main part (slider)  ********** -->


<div id="main_part">
  <div id="main_part_in">

    <h2>Indie Job Vacancy Sites</h2>

    <p>For companies and the job-seeker. Catch an opportunity to find or to get found.</p>

  </div>


  <div class="button_main">
    <div class="pxline"></div>
    <a href="/register" class="button_dark">REGISTER</a>
  </div>

</div>


<!-- *********  Content  ********** -->

<div id="content">

  <div class="thirds">
    <h3>Hey, is it responsive?</h3>
    <p>No. Sorry, it’s not (yet). Stay tuned for future updates! There should also be WP version soon, which will totally be responsive.</p>
  </div>

  <div class="thirds">
    <h3>Looking for PSD?</h3>
    <p>If you want to play with the design and make some more-drastic changes, you might need the PSD files. You can purchase them <a href="http://themeforest.net/item/nina-minimalist-psd-theme/4071242?ref=Flay">here</a>.</p>
  </div>

  <div class="thirds">
    <h3>How about WordPress?</h3>
    <p>Working on it! It probably won’t be for free, but for about $20. If you want anything specific in the WP version, <a href="mailto:vilem@ries.cz">contact me</a>!</p>
  </div>

  <hr class="cleanit">

  <!-- ****  About & Testimonials  ***** -->

</div>



<!-- *********  Footer  ********** -->

<hr class="cleanit">

<div id="footer">
  <div id="footer_in">

    <p>Jl. Telagasari 1 No. 117 Balikpapan , East Borneo 76111</p>

  </div>
</div>

<script>
    // script for testimonial' tabs
    $(function() {
        $("ul.controls").tabs("div.testimonials > div");
    });
</script>

</body>
</html>
