<!DOCTYPE html>
<html>
<head>
  <title>carikerjaan</title>
  <link rel="stylesheet" type="text/css" href="/themes/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/themes/css/style.css">
  <link rel="stylesheet" type="text/css" href="/themes/css/animate.css">
  <%= csrf_meta_tags %>
</head>
	<%= yield %>
</html>
